name: updated-pipeline
run-name: ${{ github.actor }} is committing pipeline changes

on: 
  push:
    branches:
      - '*'
      - '*/*'
      - '**'
      - '!main'
      - '!master'

jobs:
  commit:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install digibeectl
        run: |
          echo "Installing digibeectl"
          curl -s https://storage.googleapis.com/digibee-release-test/releases/install.sh | bash
          digibeectl --help

      - name: Configure Digibee authentication
        env:
          DIGIBEE_AUTH_KEY: ${{ secrets.PASS }}
          DIGIBEE_SECRET_KEY: ${{ secrets.KEY }}
        run: |
          echo "Digibee authentication configured"

      - name: Download flowspec
        env:
          DIGIBEE_AUTH_KEY: ${{ secrets.PASS }}
          DIGIBEE_SECRET_KEY: ${{ secrets.KEY }}
        run: |
          echo "Getting flowspec"

      - name: Extract metadata
        run: |
          echo "PIPELINE=$(jq -r .pipelineName metadata.json)" >> "$GITHUB_ENV"
          echo "MAJ_VERSION=$(jq -r .majorVersion metadata.json)" >> "$GITHUB_ENV"

      - name: Resolve pipeline ID
        env:
          DIGIBEE_AUTH_KEY: ${{ secrets.PASS }}
          DIGIBEE_SECRET_KEY: ${{ secrets.KEY }}
        run: |
          echo "PIPELINE_ID=$(digibeectl get pipeline --name $PIPELINE | awk -v pipe="$PIPELINE" -v maj_ver="$MAJ_VERSION" '{if (($1 == pipe) && ($3 ~ maj_ver)) { print $2 }}')" >> "$GITHUB_ENV"

      - name: Download flowspec
        env:
          DIGIBEE_AUTH_KEY: ${{ secrets.PASS }}
          DIGIBEE_SECRET_KEY: ${{ secrets.KEY }}
        run: |
          digibeectl get pipeline --pipeline-id $PIPELINE_ID --flowspec | jq . > flowspec.json

      - name: Create commit note
        run: |
          echo "Modified by githubbot at $(date)" >> githubbot.md

      - name: Commit with GITHUB_TOKEN
        run: |
          git config user.email github-actions[bot]@users.noreply.github.com
          git config user.name "GitHub Actions Bot"
          git add flowspec.json githubbot.md
          git commit -m "Automatic commit by githubactions [skip actions]"
          git push